/SourceCode/node_modules
/SourceCode/public/node_modules
/SourceCode/package-lock.json
/SourceCode/public/build/
/NW_Cache/NWTemp/
/NW_Cache/nwjs-sdk-v0.15.4-win-ia32/
/BuiltApp
/NW_Cache/xpcode.exe
.DS_Store
/TestDirectory
/NW_Cache/nwjs-sdk-v0.93.0-win-x64.zip