html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	color: #333;
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

input[type="range"] {
	height: 0;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

[data-title-top]:hover:after, [data-title-left]:hover:after, [data-title-right]:hover:after, [data-title-bottom]:hover:after {
	opacity: 1;
	transition: all 0.1s ease 0.5s;
	visibility: visible;
}

[data-title-top]:after, [data-title-left]:after, [data-title-right]:after, [data-title-bottom]:after  {
	background-color: var(--tooltip-bg);
	color: #111;
	font-size: 150%;
	position: absolute;
	padding: 1px 5px 2px 5px;
	bottom: -1.6em;
	left: 0%;
	box-shadow: 1px 1px 3px #222222;
	opacity: 0;
	border: 1px solid #111111;
	z-index: 99999;
	visibility: hidden;
	padding: 1rem;
	border: solid var(--secondary-border-color) 1px;
	color: var(--base-text-color);
}

[data-title-top]:after {
	top: -50%;
	content: attr(data-title-top);
}

[data-title-top], [data-title-left], [data-title-right], [data-title-bottom]  {
	position: relative;
}

body.dragging {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	/* cursor: default; */
}

body.dragging #unselectable {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}

body:not(.dragging) #unselectable {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
	cursor: default;
}

.recent_files .single_file_row:first-of-type .right_side::before {
    content: "recently opened";
    display: block;
    color: var(--file-search-sections-labels-color);
	font-size: .9rem;
	margin-right: .2rem;
}

.all_files .single_file_row:first-of-type .right_side::before {
	content: "file results";
    display: block;
    color: var(--file-search-sections-labels-color);
	font-size: .9rem;
	margin-right: .2rem;
}

blue {
	color: var(--file-search-marker-color); /* Set text color to blue */
	display: run-in; /* Ensure it remains inline with other text */
	font-size: inherit; /* Match the size of the surrounding text */
	font-weight: inherit; /* Match the weight of the surrounding text */
	font-style: inherit; /* Match the style (italic, etc.) of the surrounding text */
	line-height: inherit; /* Match the line height of the surrounding text */
}